.home-container{
    background-image: url(../../assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
}

.space-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:30%;
    margin-top: 400px;
}
.main-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 28%;
}
.intro{
    text-transform: uppercase;
    font-size: 28px;
    color: var(--text-color-one);
    letter-spacing: 4.72px;
    font-family:"Barlow Condensed",sans-serif;
    font-weight: 400;
} 
.space{
    font-size: 150px;
    color: var(--text-color-main);
    text-transform: uppercase;
    margin: 0;
}
.space-info{
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-color-one);
}
.explore-btn-container{
    height: auto;
    margin-top: 80px;
}

.explore-btn{
    font-size: 32px;
    border-radius: 50%;
    width: 274px;
    height: 274px;
    text-transform: uppercase;
    color: var(--background-color);
    background-color: var(--text-color-main);
    border: none;
    font-family: 'Bellefair', sans-serif;
}
.explore-btn-container:hover{
    border-radius: 50%;
    transition:   box-shadow 687ms ease-out;
    box-shadow: #7070736e 0px 0px 2px 76px;
}
/* responsive */
@media(max-width:1377px){
    .space-info-container{
        gap: 10%;
    }
    .main-info{
        width: 444px;
    }
    .space{
        font-size: 130px;
    }
    .explore-btn{
        width:242px;
        height: 242px;
    }
}

/* TABLET VIEW */
@media (max-width: 1000px) {
    .home-container{
        background-image: url(../../assets/home/background-home-tablet.jpg);
    }
    .space-info-container{
        flex-direction: column;
        gap: 0;
        margin-top: 170px;
    }
    .main-info{
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 444px;
    }
    .explore-btn{
        width:242px;
        height: 242px;
    }
    .explore-btn-container:hover{
        box-shadow: #7070736e 0px 0px 2px 56px;
    }
    .intro{
        font-size: 20px;
    }
    .space-info{
        font-size: 16px;
    }

}

  /* MOBILE VIEW */
  @media (max-width: 500px) {
    .home-container{
        background-image: url(../../assets/home/background-home-mobile.jpg);
    }
    .main-info{
        flex-direction: column;
        gap: 0;
        height: 276px;
        width: 327px;
    }
    .space{
        font-size:80px;
    }
    .explore-btn{
        width:150px;
        height: 150px;
        font-size: 20px;
    }
    .explore-btn-container:hover{
        box-shadow: #7070736e 0px 0px 2px 56px;
    }
    .intro{
        font-size: 20px;
    }
    .space-info{
        font-size: 16px;
    }
  }