.home-container {
    background-image: url(../../assets/home/background-home-mobile.jpg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.main-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.intro {
    text-transform: uppercase;
    font-size: 16px;
    color: var(--text-color-one);
    letter-spacing: 2.7px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
}

.space {
    font-family: "Bellefair", sans-serif;
    font-size: 80px;
    color: var(--text-color-main);
    text-transform: uppercase;
    margin: 0;
}

.space-info {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-color-one);
    width: 88%;
}

.explore-btn-container {
    margin-top: 0;
    padding-top: 0;
}

.explore-btn {
    font-size: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-transform: uppercase;
    color: var(--background-color);
    background-color: var(--text-color-main);
    border: none;
    font-family: 'Bellefair', sans-serif;
}

.explore-btn-container:hover {
    border-radius: 50%;
    transition: box-shadow 687ms ease-out;
    box-shadow: #7070736e 0px 0px 2px 56px;
}

/* TABLET VIEW */
@media (min-width: 501px) and (max-width: 1000px) {
    .home-container {
        background-image: url(../../assets/home/background-home-tablet.jpg);
        gap: 100px;
    }

    .space-info-container {
        margin-top: 170px;
        gap: 120px;
    }

    .main-info {
        text-align: center;
        width: 100%;
    }

    .intro {
        font-size: 20px;
    }

    .space-info {
        font-size: 16px;
    }

    .explore-btn {
        width: 242px;
        height: 242px;
    }

    .explore-btn-container:hover {
        box-shadow: #7070736e 0px 0px 2px 56px;
    }
}

/* DESKTOP VIEW */
@media (min-width: 1001px) {
    .home-container {
        background-image: url(../../assets/home/background-home-desktop.jpg);
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 220px;
        gap: 0;
    }

    .space-info-container {
        margin-top: 0;
        gap: 0;
    }

    .main-info {
        text-align: left;
        align-items: flex-start;
    }

    .intro {
        font-size: 28px;
        letter-spacing: 4.72px;
    }

    .space {
        font-size: 150px;
    }

    .space-info {
        width: 500px;
        font-size: 18px;
        line-height: 32px;
    }

    .explore-btn-container {
        margin-top: 140px;
    }

    .explore-btn {
        width: 274px;
        height: 274px;
        font-size: 32px;
    }

    .explore-btn-container:hover {
        box-shadow: #7070736e 0px 0px 2px 76px;
    }
}
