/* General Styles */
.destination-home-page {
  background-image: url(../../assets/destination/background-destination-desktop.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.main-destination-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 12%;
}
.pick-your-destination{
  font-size: 28px;
  letter-spacing: 4.72px;
  padding-top: 100px;
}
.pick-your-destination strong {
  opacity: 0.4;
}
.planets-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
  padding: 4% 0 0 4%;
}
.destination-image{
  width: 50%;
}
.destination-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  width: 80%;
}
.destination-tab-buttons {
  display: inline-block;
  cursor: pointer;
}
.destination-tab-buttons ul {
  display: flex;
  flex-direction: row;
  gap: 36px;
  padding: 20px 0 20px 0;
}
.destination-tab-buttons li{
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--text-color-one);
}
.destination-tab-buttons li:hover,
.destination-tab-buttons li.active{
  text-decoration: underline;
  text-underline-offset: 18px;
  text-decoration-thickness: 3px;
}
.destination-tab-buttons li:hover {
  text-decoration-color: var(--hover-color);
}
.destination-tab-buttons li.active{
  text-decoration-color: var(--text-color-main);
}
.destination-details{
  width: 100%;
}
.destination-name{
  font-size: 100px;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;
}
.planet-description {
  text-align: left;
  line-height: 32px;
  font-size: 18px;
  color: var(--text-color-one);
  margin: 0;
  padding-bottom:60px;
  width: 80%;
}
.planet-lane{
  width: 80%;
  margin: 8px 0;
  height: 1px;
  border: 0 solid;
  background-color: #ffffff34; 
}
.distance-travel-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 50px;
  text-align: left;
  padding-top: 10px;
}
.distance-travel-container span {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-color-one);
  letter-spacing: 2.36px;
}
.distance-travel-container h3 {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 12px;
}
/* tablet to desktop */
@media (min-width:1000px) and (max-width:1200px) {
  .pick-your-destination{
    padding-top: 40px;
  }
  .planets-content{
    gap: 2%;
    padding: 3% 0 0 0;
  }
  .destination-image img{
    width: 400px;
  }
}
/* TABLET */
@media (max-width: 1000px) {
  .destination-home-page{
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
    align-items: center;
    justify-content: center;
  }
  .main-destination-container{
    padding: 0;
  }
  .pick-your-destination{
    padding: 20px 0 40px 2%;
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  .planets-content{
    flex-direction: column;
    padding: 0;
    align-items: center;
    text-align: center;
  }
  .destination-image{
    width: 100%;
  }
  .destination-image img{
    width: 300px;
  }
  .destination-info{
    text-align: center;
    align-items: center;
  }
  .destination-tab-buttons {
    margin-top: 20px;
  }
  .destination-tab-buttons ul {
    gap: 36px;
    padding:0;
  }
  .destination-name{
    font-size: 80px;
  }
  .planet-description{
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding:10px 0 20px 0;
  }
  .planet-lane{
    width: 100%;
  }
  .distance-travel-container{
    justify-content: center;
    text-align: center;
  }
}
/* MOBILE */
@media (max-width: 500px){
  .destination-home-container{
    background-image: url(../../assets/destination/background-destination-mobile.jpg);
  }
  .main-destination-container{
    margin-top: 80px;
    padding: 0;
    align-items: center;
  }
  .pick-your-destination{
    padding: 0 0 20px 0;
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .destination-info{
    width: 100%;
    padding: 0 6%;
  }
  .destination-image img{
    width: 170px;
    height: 170px;
  }
  .destination-tab-buttons{
    margin-top: 20px;
  }
  .destination-tab-buttons ul{
    gap: 24px;
  }
  .destination-tab-buttons li{
    font-size: 14px;
    padding: 0;
  }
  .destination-tab-buttons li:hover{
    text-decoration: underline;
  }
  .destination-tab-buttons li.active{
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  .destination-name{
    font-size: 56px;
  }
  .planet-description{
    font-size: 15px;
    line-height: 25px;
  }
  .distance-travel-container{
    flex-direction: column;
    gap: 20px;
  }
 
}
