/* General Styles */
.destination-home-container {
  background-image: url(../../assets/destination/background-destination-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 2160px;
  overflow: hidden;
}

.destinations-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
  align-items: start;
}
.pick-your-destination strong {
  opacity: 0.4;
}
.destination-planets-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12%;
  align-items: center;
  width: 100%;
}
.planet-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  height: 100vh; 
}
.pick-your-destination {
  font-size: 28px;
  letter-spacing: 4.72px;
  padding-top: 100px;
}
.planet-container img{
  width:445px;
  height:445px;
  padding-left: 100px;
}
.destination-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 445px;
  height: 472px;
  gap: 10px;
}

.destination-tab-buttons ul {
  display: flex;
  font-size: 16px;
  flex-direction: row;
  gap: 36px;
  letter-spacing: 2.7px;
  padding: 0;
  color: var(--text-color-one);
}

.destination-tab-buttons {
  display: inline-block;
  cursor: pointer;
}

.destination-tab-buttons li:hover,
.destination-tab-buttons li.active {
  text-decoration: underline;
  text-underline-offset: 18px;
  text-decoration-thickness: 2px;
  color: var(--text-color-main);
}
.destination-name{
  font-size: 100px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.planet-description {
  text-align: left;
  line-height: 32px;
  font-size: 18px;
  color: var(--text-color-one);
  margin: 0;
  padding-bottom: 40px;
}

.planet-lane{
  width: 100%;
  height: 1px;
  border: 0 solid;
  background-color: #ffffff34;
}

.distance-travel-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 50px;
  text-align: left;
  padding-top: 10px;
}

.distance-travel-container span {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-color-one);
  letter-spacing: 2.36px;
}

.distance-travel-container h3 {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 12px;
}

/* Media Queries */
/* responsive */
@media (min-width: 1000px) and (max-width:1280px) {
  .destinations-content-container{
    padding: 0 30px;
  }
  .destination-planets-container{
    gap:8%;
  }
}
/* TABLET */
@media (max-width: 1000px) {
  .destination-home-container{
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
  }
  .destinations-content-container{
    margin-top: 0;
    /* padding: 10px 20px 0 20px;  */
    height: 1024px; 
  }

  .planet-container{
    height: auto;
    align-items: center;
    gap: 30px;
  }
  .pick-your-destination{
    /* padding: 60px 0 0 0; */
    font-size: 20px;
  }
  .planet-container img{
    width: 300px;
    height:300px;
    padding: 0;
  }
  .destination-planets-container{
    gap:0;
    flex-direction: column;
  }
 
  .destination-info{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: auto;
    gap: 20px;
  }
  .destination-tab-buttons{
    width: 285px;
    margin-top: 20px;
  }
  .destination-name{
    font-size: 80px;
  }
  .planet-description{
    text-align: center;
    width: 80%;
    font-size: 16px;
    padding: 0 0 20px 0;
    height: auto;
  }
  .distance-travel-container{
    justify-content: center;
  }
  .planet-lane{
    width: 80%;
  }
}
/* MOBILE */
@media (max-width: 500px){
  .destination-home-container{
    background-image: url(../../assets/destination/background-destination-mobile.jpg);
  }
  .destinations-content-container{
    margin-top: 0;
    height: 720px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .planet-container{
    height: auto;
    align-items: center;
    gap: 18px;
  }
  .pick-your-destination{
    padding-top: 120px;
    font-size: 16px;
  }
  .destination-planets-container{
   margin-top: 40px;
   /* height: auto; */
  }
  .planet-container img{
    width: 170px;
    height:170px;
  }
  .destination-info{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .destination-tab-buttons{
    font-size: 14px;
    padding-top: 20px;
    margin: 0;
  }
  .destination-tab-buttons ul{
    font-size: 14px;
    gap: 16px;
  }
  .destination-tab-buttons li:hover,
  .destination-tab-buttons li.active {
    text-underline-offset: 10px;
}
  .destination-name{
    font-size: 56px;
  }
  .planet-description{
    text-align: center;
    width: 90%;
    line-height: 25px;
    font-size: 15px;
    padding: 0 0 20px 0;
    height: 125px;
  }
  .planet-lane{
    width: 90%;
  }
  .distance-travel-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }
  
}
