
.destination-container{
  background-image: url(../../assets/destination/background-destination-desktop.jpg);
  flex-direction: column;
  justify-content: center;
  padding-left: 12%;
}
.planets-content {
  border: 1px solid pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.destination-image{
  width: 50%;
  padding-top: 80px;
}
.destination-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  width: 80%;
}
.destination-tab-buttons {
  display: inline-block;
  cursor: pointer;
}
.destination-tab-buttons {
  display: flex;
  flex-direction: row;
  gap: 36px;
  padding: 20px 0 20px 0;
}
.destination-tab-buttons .tab-item{
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--text-color-one);
}
.destination-tab-buttons .tab-item:hover,
.destination-tab-buttons .tab-item:focus,
.destination-tab-buttons .tab-item.active {
  text-decoration: underline;
  text-underline-offset: 18px; 
  text-decoration-thickness: 3px;
}
.destination-tab-buttons .tab-item:hover{
  text-decoration-color:var(--hover-color);
}
.destination-tab-buttons .tab-item.active{
  text-decoration-color:var(--text-color-main);
}
.destination-details{
  width: 100%;
}
.destination-name{
  font-size: 100px;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;
}
.planet-description {
  line-height: 32px;
  font-size: 18px;
  color: var(--text-color-one);
  margin: 0;
  width: 80%;
  height: 180px;
}
.planet-lane{
  width: 80%;
  margin: 8px 0;
  height: 1px;
  border: 0 solid;
  background-color: #ffffff34; 
}
.distance-travel-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 50px;
  text-align: left;
  padding-top: 10px;
}
.distance-travel-container span {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-color-one);
  letter-spacing: 2.36px;
}
.distance-travel-container h3 {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 12px;
}
/* tablet to desktop */
@media (min-width:1000px) and (max-width:1200px) {
  /* .pick-your-destination{
    padding-top: 40px;
  } */
  .planets-content{
    gap: 2%;
    padding: 3% 0 0 0;
  }
  .destination-image img{
    width: 400px;
  }
}
/* TABLET */
@media (max-width: 1000px) {
  .destination-container{
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .main-destination-container{
    padding: 0;
  }
  .planets-content{
    flex-direction: column;
    padding: 0;
    align-items: center;
    text-align: center;
  }
  .destination-image{
    width: 100%;
    padding: 0;
  }
  .destination-image img{
    width: 300px;
  }
  .destination-info{
    margin-top: 20px;
    text-align: center;
    align-items: center;
  }
  .destination-tab-buttons {
    gap: 36px;
    padding:0;
    margin: 20px 0;
  }
  .destination-name{
    font-size: 80px;
  }
  .planet-description{
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding:10px 0 20px 0;
  }
  .planet-lane{
    width: 100%;
  }
  .distance-travel-container{
    justify-content: center;
    text-align: center;
  }
}
/* MOBILE */
@media (max-width: 500px){
  .destination-container{
    background-image: url(../../assets/destination/background-destination-mobile.jpg);
    padding: 0;
  }
  .main-destination-container{
    margin-top: 80px;
    padding: 0;
    align-items: center;
  }
  .destination-info{
    width: 100%;
    padding: 0 6%;
  }
  .destination-image img{
    width: 170px;
    height: 170px;
  }
  .destination-tab-buttons .tab-item{
    font-size: 14px;
    letter-spacing: 2.36px;
    color: var(--text-color-one);
  }
  .destination-tab-buttons .tab-item:hover,
  .destination-tab-buttons .tab-item:focus,
  .destination-tab-buttons .tab-item.active {
    text-underline-offset: 10px; 
    text-decoration-thickness: 1px;
  }
  .destination-name{
    font-size: 56px;
  }
  .planet-description{
    font-size: 15px;
    line-height: 25px;
  }
  .distance-travel-container{
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }
 
}
