.crew-home-page{
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.main-container{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
    padding: 0 20px;
   
}
.meet-your-crew{
    border: 1px solid lightcoral;
    font-size: 28px;
    letter-spacing: 4.72px;
    padding: 100px 0 0 11%;
}
.meet-your-crew strong{
    opacity: 0.4;
}
.crew-content{
    border: solid 1px pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}
.crew-details{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.crew-info{
    border: 1px solid blue;
    width: 714px;
}
.crew-role{
    font-size: 32px;
    text-transform: uppercase;
    opacity: 0.6;
}
.crew-name{
    font-size: 56px;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.crew-bio{
    font-size: 18px;
    line-height: 32px;
    color: var(--text-color-one);
    width: 72%;
    height: 200px;
}
.crew-tab-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width:132px;
    height: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.crew-tab-menu button{
    width:15px;
    height:15px;
    border-radius: 50%;
    border:none;
    background-color: #97979757;
    cursor: pointer;
}
.crew-tab-menu button:hover
  {
    background-color: var(--hover-color);
    cursor: pointer;
  }
.crew-tab-menu button.active{
    background-color: var(--text-color-one);
  }
.crew-image{
    border: 1px solid yellow;
    width: 600px;
}
.crew-image img{
   height: 700px;
}

@media (max-width: 1000px){
    .crew-home-page{
        background-image: url(../../assets//crew/background-crew-tablet.jpg);
    }
    .main-container{
        height: 100dvh;
        margin-top: 0;
    }
    .meet-your-crew{
        font-size: 20px;
        padding: 10px 0 0 0;
    }
    .crew-content{
        flex-direction: column;
        height: auto;
    }
    .crew-details{
        text-align: center;
        align-items: center;
    }
    .crew-info{
        padding: 50px 0;

    }
    .crew-role{
        font-size: 24px;
    }
    .crew-name{
       font-size: 40px;
       padding: 0;
    }
    .crew-bio{
        font-size: 16px;
        height: 134px;
        width: 100%;
    }
    .crew-tab-menu{
        position: relative;
        width: 88px;
        height: 10px;
    }
    .crew-tab-menu button{
        width: 10px;
        height: 10px;
    }
    .crew-image{
        width: 100%;
        
    }
    .crew-image img{
        height: 400px;
    }
}
@media (max-width:500px) {
    .crew-home-page{
        background-image: url(../../assets/crew/background-crew-mobile.jpg);
    }
    .crew-content{
        flex-direction: column-reverse;
    }
    .crew-details{
        flex-direction: column-reverse;
    }
}