.crew-home-container{
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.crew-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 160px 0 0 0;
}
.meet-your-crew{
    font-size: 28px;
    letter-spacing: 4.72px;
    justify-content: flex-start;
    padding-bottom: 100px;
}
.meet-your-crew strong{
    opacity: 0.4;
}
.crew-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding:0 9%; */
}
.crew-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 50%;
    padding-left: 11%;
}
.crew-role{
    font-size: 32px;
    text-transform: uppercase;
    opacity: 0.6;
}
.crew-name{
    font-size: 56px;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.crew-bio{
    font-size: 18px;
    line-height: 32px;
    color: var(--text-color-one);
    width: 72%;
    height: 200px;
}
.crew-tab-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width:132px;
    height: 15px;
}
.crew-tab-menu button{
    width:15px;
    height:15px;
    border-radius: 50%;
    border:none;
    background-color: #97979757;
    cursor: pointer;
}
.crew-tab-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }   
.crew-tab-menu button:hover
  {
    background-color: var(--hover-color);
    cursor: pointer;
  }
.crew-tab-menu button.active{
    background-color: var(--text-color-one);
  }
.crew-image{
    width: 50%;
    padding-right: 180px;
  }
.crew-image img{
    height: 720px;
    padding-top: 10px;
}
/* @media (min-width: 1000px) and (max-width:1280px) {
   
  } */
/* TABLET VIEW */
@media (max-width: 1000px) {
    .crew-home-container{
        background-image: url(../../assets/crew/background-crew-tablet.jpg);
    }
    .crew-content-container{
        margin: 0;
        padding: 0;
    }
    .crew-content{
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        margin: 0;
    }
    .crew-info{
        width:100%;
        justify-content: flex-start;
        padding: 60px 0 0 0;
    }
    .meet-your-crew{
        font-size: 20px;
        padding: 50px 0 20px 20px;
    }
    .crew-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .crew-role{
        font-size: 24px;
      
    }
    .crew-name{
       font-size: 40px;
       padding: 0;
    }
    .crew-bio{
        font-size: 16px;
        height: 134px;
    }
    .crew-tab-menu{
        position: relative;
        width: 88px;
        height: 10px;
    }
    .crew-tab-menu button{
        width: 10px;
        height: 10px;
    }
    .crew-image{
        /* margin-bottom: -2px; */
        padding: 50px 0 0 0;
        width: 100%;
    }
    .crew-image img{
        width: 340px;
        height: 400px;
        padding: 0;
    }
}

  /* MOBILE VIEW */
  @media (max-width: 500px) {
    .crew-home-container{
        background-image: url(../../assets/crew/background-crew-mobile.jpg);
        height: 720px;
    }
    .crew-content-container{
        height: 720px; 
    }
  }