.crew-home-page{
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.main-crew-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
    padding: 0 0 0 12%;
}
.meet-your-crew{
    font-size: 28px;
    letter-spacing: 4.72px;
    padding-top: 100px;
}
.meet-your-crew strong{
    opacity: 0.4;
}
.crew-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.crew-details{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    gap: 0;
    height: 700px;
    width: 50%;
}
.crew-role{
    font-size: 32px;
    text-transform: uppercase;
    opacity: 0.6;
}
.crew-name{
    font-size: 56px;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.crew-bio{
    font-size: 18px;
    line-height: 32px;
    color: var(--text-color-one);
    width: 72%;
    padding-bottom: 50px;
}
.crew-tab-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width:132px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.crew-tab-menu button{
    width:15px;
    height:15px;
    border-radius: 50%;
    border:none;
    background-color: #97979757;
    cursor: pointer;
}
.crew-tab-menu button:hover
  {
    background-color: var(--hover-color);
    cursor: pointer;
  }
.crew-tab-menu button.active{
    background-color: var(--text-color-one);
  }
.crew-image{
    width: 600px;
}
.crew-image img{
   height: 700px;
}

@media (max-width: 1000px){
    .crew-home-page{
        background-image: url(../../assets//crew/background-crew-tablet.jpg);
        align-items: center;
        justify-content: center;
    }
    .main-crew-container{
        margin-top: 0;
        padding: 0;
        height: 1024px; 
        justify-content: center;
        width: 100%;
    }
    .meet-your-crew{
        font-size: 20px;
        margin-top: 80px;
        padding: 20px 0 0 3%;
        letter-spacing: 3.38px;
    }
    .crew-content{
       flex-direction: column;
       padding: 0;
       align-items: center;
       text-align: center;
       justify-content: flex-start;
       margin-top: 30px;
    }
    .crew-details{
       text-align: center;
       align-items: center;
       height: auto;
       width: 100%;
    }
    .crew-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .crew-role{
        font-size: 24px;
    }
    .crew-name{
       font-size: 40px;
       padding: 0;
    }
    .crew-bio{
        font-size: 16px;
        width: 458px;
        padding: 0;
    }
    .crew-tab-menu{
        position: relative;
        height: 20px;
        gap: 16px;
    }
    .crew-tab-menu button{
        width: 10px;
        height: 10px;  
    }
    .crew-image{
        width: 100%;
        margin-top: 40px;
    }
    .crew-image img{
        height: 472px;
    }
}
@media (max-width:500px) {
    .crew-home-page{
        background-image: url(../../assets/crew/background-crew-mobile.jpg);
    }
    .main-crew-container{
        display: block;
       align-items: center;
       padding: 0 20px;
    }
    .meet-your-crew{
        margin: 60px 0 0 0;
        font-size: 16px;
        letter-spacing: 2.7px;
    }
    .crew-content{
        flex-direction: column-reverse;
        justify-content: flex-end;
        
    }
    .crew-details{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .crew-info{
        width: 100%;
    }
    .crew-role{
        margin: 0;
        font-size: 16px;
        padding-top: 12px;
    }
    .crew-name{
       font-size: 24px;
       padding: 10px 0 16px 0 ;
    }
    .crew-bio{
        padding: 0;
        margin: 0;
        font-size: 15px;
        height: auto;
        width: 100%;
        line-height: 25px;
    }
    .crew-tab-menu{
        padding: 30px 0;
        gap: 12px;
    }
    .crew-image{
        margin: 0;
        border-bottom: 0 solid #ffffff34;
        border-width: 1px;
    }
    .crew-image img{
        height: 223px;
        margin-bottom: -3px;
    }
}