.technology-container{
    background-image: url(../../assets/technology/background-technology-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
    overflow: hidden;
}
.technology-info-container{
    margin-top: 200px;
}
/* TABLET VIEW */
@media (max-width: 1440px) {
    
}

  /* MOBILE VIEW */
  @media (max-width: 768px) {

  }

  .technology-image {
    max-width: 100%;
  }
  
  /* @media (max-width: 600px) {
    .technology-image {
      content: url(${selectedTechnology.images.portrait});
    }
  } */
  