
a {
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 16px;
    letter-spacing: 2px;
  }
a:hover {
    text-decoration: underline;
    text-underline-offset: 38px; 
    text-decoration-thickness: 4px;
  }
  li {
    list-style-type: none;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:98%;
    margin-left: 40px;
    padding-top: 20px;
    position: absolute;
    z-index: 1;
  }
  .logo {
    width: 48px;
    height: 48px;
  }
  .nav-lane{
      position: relative;
      width: 35%;
      height: 1px;
      border:0 solid;
      background-color: #ffffff16; 
      margin-right: -2%;
      z-index: 1;
    }
  .nav-links {
    display: flex;
    background-color:#ffffff16;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 55%;
    height:96px;
    gap:50px;
  }
  
  .nav-links li {
    font-size: 16px;
    letter-spacing: 2px;
  }

  .mobile-menu-icon {
    display: none;
  }
/* TABLET VIEW */
  @media (max-width: 1440px) {
    .navbar{
      gap: 30%;
      width: 100%;
    }
    .nav-links{
      gap: 20px;
   
    }
    .nav-lane{
        display: none;
    }
    strong{
        display: none;
    }
    .mobile-menu-icon {
      display: none;
    }
    
  }

  /* MOBILE VIEW */
  @media (max-width: 768px) {
    .navbar{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 70%;
        padding: 0;
        margin: 26px 0 0 0;
    }
    .nav-links {
      display: none;
    }
    .nav-lane{
      display: none;
    }
    
    .logo-image{
      width: 40px;
      height:40px;
    }
    .nav-links-mobile {
      position:absolute;
      top: 0;
      right: 0;
      list-style: none;
      transition: all 0.5s ease-in-out;
       width: 60%;
       height: 100vh;
       background-color:#ffffff16;
       backdrop-filter: blur(10px);
       padding: 100px 0 0 20px ;
       margin-top: -30px ;
    }
    ul li {
      width: 100%;
      padding: 0 0 20px 10px;
      transition: all 0.5s ease-in-out;
      text-align: left;
    }
    .mobile-menu-icon {
      display: block;
      right: 20px;
      width: 40px;
      height:40px;
      background-color: transparent;
      border: none;
      z-index: 1;
    }
    strong{
      display: inline;
  }
  }