:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #0B0D17;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-color-one: #D0D6F9;
  --text-color-main: #FFFFFF;
  overflow: hidden;
  text-align: center;
}
h1,h2,h3,h4,h5{
  font-family: "Bellefair", serif;
}
span,li{
font-family:"Barlow Condensed", sans-serif ;
text-transform: uppercase;
list-style-type: none;
}
p{
  font-family: "Barlow", sans-serif ;
} 

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
}
.app-container{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}





