:root {
  font-family: "Inter", "system-ui", "Helvetica", "Arial", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #0B0D17;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-color-one: #D0D6F9;
  --text-color-main: #FFFFFF;
  --hover-color: #979797;
  text-align: center;
}

h2, h3, h4, h4, h6 {
  font-family: "Bellefair", serif;
}

h1, span, ul, li {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  font-weight: 400;
}

p {
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: inherit;
}

body {
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: var(--background-color);
}

.app-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
